---
title: Plasma Mobile - Plasma in your pocket
layout: default
---

<div id="page" class="hfeed site">
    <div class="entry-content">
        <div id="pl-29" class="panel-layout">
            <div id="pg-29-0" class="panel-grid panel-has-style">
                <div class="hero section-hero siteorigin-panels-stretch panel-row-style panel-row-style-for-29-0" data-stretch-type="full">
                    <div id="pgc-29-0-0" class="panel-grid-cell">
                        <div id="panel-29-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="0">
                            <div class="hero-row panel-widget-style panel-widget-style-for-29-0-0-0">
                                <div class="textwidget">
                                    <h2>Plasma, in your pocket.</h2>

                                    <!-- Video Modal -->
                                    <button class="button light-invert wide video-modal-btn" data-video-id="auuQA0Q8qpM">Video Intro</button>
                                    <script>
                                        new ModalVideo(".video-modal-btn");
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pgc-29-0-1" class="panel-grid-cell">
                        <div id="panel-29-0-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="1">
                            <div class="hero-row panel-widget-style panel-widget-style-for-29-0-1-0">
                                <div class="textwidget">
                                    <p><img class="alignnone size-full wp-image-222" src="/img/plasmaphone.png" alt="phones-hero" width="660" height="790" /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pg-29-1" class="panel-grid panel-has-style">
                <div class="section-features panel-row-style panel-row-style-for-29-1">
                    <div id="pgc-29-1-0" class="panel-grid-cell">
                        <div id="panel-29-1-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="2">
                            <div class="textwidget">
                                <p><img class=" size-full wp-image-223 aligncenter" src="/img/triangles.png" alt="triangles" width="224" height="128" /></p>
                                <h2 style="text-align: center;">Open up.</h2>
                                <p style="text-align: center;">Plasma Mobile is an open-source user interface for phones. Running on top of a Linux distribution, Plasma Mobile turns  your phone into a fully hacking device.</p>
                                <p style="text-align: center;"><a href="/screenshots/" class="button">Screenshots</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pg-29-2" class="panel-grid panel-has-style">
                <div class="grid siteorigin-panels-stretch panel-row-style panel-row-style-for-29-2" data-stretch-type="full-stretched">
                    <div id="pgc-29-2-0" class="panel-grid-cell">
                        <div class="grid-blocks panel-cell-style panel-cell-style-for-29-2-0">
                            <div id="panel-29-2-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="3">
                                <div class="panel-widget-style panel-widget-style-for-29-2-0-0">
                                    <div class="textwidget"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pgc-29-2-1" class="panel-grid-cell">
                        <div class="grid-blocks panel-cell-style panel-cell-style-for-29-2-1">
                            <div id="panel-29-2-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="4">
                                <div class="panel-widget-style panel-widget-style-for-29-2-1-0">
                                    <div class="textwidget">
                                        <h2>Focus on mobile devices.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pgc-29-2-2" class="panel-grid-cell">
                        <div class="grid-blocks panel-cell-style panel-cell-style-for-29-2-2">
                            <div id="panel-29-2-2-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="5">
                                <div class="panel-widget-style panel-widget-style-for-29-2-2-0">
                                    <div class="textwidget"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pg-29-3" class="panel-grid panel-has-style">
                <div class="grid siteorigin-panels-stretch panel-row-style panel-row-style-for-29-3" data-stretch-type="full-stretched">
                    <div id="pgc-29-3-0" class="panel-grid-cell">
                        <div class="grid-blocks panel-cell-style panel-cell-style-for-29-3-0">
                            <div id="panel-29-3-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="6">
                                <div class="panel-widget-style panel-widget-style-for-29-3-0-0">
                                    <div class="textwidget">
                                        <h3>Adaptable user interface.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pgc-29-3-1" class="panel-grid-cell">
                        <div class="grid-blocks panel-cell-style panel-cell-style-for-29-3-1">
                            <div id="panel-29-3-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="7">
                                <div class="panel-widget-style panel-widget-style-for-29-3-1-0">
                                    <div class="textwidget"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pgc-29-3-2" class="panel-grid-cell">
                        <div class="grid-blocks panel-cell-style panel-cell-style-for-29-3-2">
                            <div id="panel-29-3-2-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="8">
                                <div class="panel-widget-style panel-widget-style-for-29-3-2-0">
                                    <div class="textwidget"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pg-29-4" class="panel-grid panel-has-style">
                <div class="section-features section-features-two panel-row-style panel-row-style-for-29-4">
                    <div id="pgc-29-4-0" class="panel-grid-cell">
                        <div id="panel-29-4-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child" data-index="9">
                            <div class="textwidget">
                                <h2 style="text-align: center;">Plasma Mobile <strong>key</strong> features.</h2>
                                <p><img class=" size-full wp-image-221 aligncenter" src="/img/phone-features.png" alt="phone-features" width="960" height="214" /></p>
                            </div>
                        </div>
                        <div id="panel-29-4-0-1" class="so-panel widget widget_siteorigin-panels-builder" data-index="10">
                            <div class="panel-widget-style panel-widget-style-for-29-4-0-1">
                                <div id="pl-w55c8b9403a13d" class="panel-layout">
                                    <div id="pg-w55c8b9403a13d-0" class="panel-grid panel-no-style">
                                        <div id="pgc-w55c8b9403a13d-0-0" class="panel-grid-cell">
                                            <div id="panel-w55c8b9403a13d-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="0">
                                                <div class="features-list-left panel-widget-style panel-widget-style-for-w55c8b9403a13d-0-0-0">
                                                    <div class="textwidget">
                                                        <h3>Libre Technologies</h3>
                                                        <ul>
                                                            <li>Plasma Mobile (a plasma workspace)</li>
                                                            <li>KWIN/Wayland</li>
                                                            <li>Voicecall/Ofono</li>
                                                            <li>Telepathy</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="pgc-w55c8b9403a13d-0-1" class="panel-grid-cell">
                                            <div id="panel-w55c8b9403a13d-0-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="1">
                                                <div class="features-list-right panel-widget-style panel-widget-style-for-w55c8b9403a13d-0-1-0">
                                                    <div class="textwidget">
                                                        <h3>Qt-based Applications</h3>
                                                        <ul>
                                                            <li>Plasma Apps</li>
                                                            <li>Plasma Widgets</li>
                                                            <li>Ubuntu Touch apps</li>
                                                            <li>possibly Sailfish apps</li>
                                                            <li>possibly Nemo apps</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panel-29-4-0-2" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-last-child" data-index="11">
                            <div class="panel-widget-style panel-widget-style-for-29-4-0-2">
                                <div class="textwidget">
                                    <p style="text-align: center;"><a href="/join" class="button">Join Plasma</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pg-29-5" class="panel-grid panel-has-style">
                <div class="hero section-community siteorigin-panels-stretch panel-row-style panel-row-style-for-29-5" data-stretch-type="full">
                    <div id="pgc-29-5-0" class="panel-grid-cell">
                        <div id="panel-29-5-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="12">
                            <div class="textwidget">
                                <h2 style="text-align: center;">Community Driven.</h2>
                                <p style="text-align: center;">Plasma Mobile is developed by one of the most reputable and longest-standing software development organisations in the world. Vendors and users alike can look forward to a rapidly maturing software system developed with an open lifecycle and no conflicts of interest.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .entry-content -->
</div>
